section {
    width: 984px;
    margin: 0 auto;
}

.InfoData {
    margin-left: 55%;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    display: inline-block;
    width: 55%;
}

.vertical-align {
    display: flex;
    align-items: center;
}